<h1>注册页面</h1>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
        <div class="weui-cell__bd">
            <input ng-model='username' class="weui-input" type="text" placeholder="请输入用户帐号"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
        <div class="weui-cell__bd">
            <input ng-model='password' class="weui-input" type="password" placeholder="请输入密码"/>
        </div>
    </div> 
    <div class="weui-btn-area">
        <a ng-click='goLogin()' class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">注册</a>
    </div> 
</div>



